<div class="row">
  <div class="col-md-4">
    <%= simple_form_for @account_number, url: account_numbers_url, method: :post do |f| %>
      <%= f.input :number %>
      <%= f.button :submit, "Check number", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>